/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-02-2018, 19:50:41
    Author     : Ejer
*/
body{ 
     margin-left: 10%;
     margin-right: 10%;
      width:60%;
      background-color: whitesmoke;
}

table{

    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    border-collapse: collapse;
 
    table-layout: fixed;
/*    border-left-color: white;
    border-right-color: white;*/

}

th{

    text-align: left;  
    padding-top: 8px;
    padding-bottom: 8px;
 

    
}

td{

    text-align: left;  
    color: grey;
    padding-top: 8px;
    padding-bottom: 8px;


}





tr{

    border-style: solid;
    border-color: lightgrey;
    border-left: none;
    border-right: none;

}


tr:hover {
    background-color: #ddd;
}

tr:nth-child(uneven){background-color: #f2f2f2;}


 
 
 ul {

    list-style-type: none;
}
