/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-02-2018, 19:50:41
    Author     : Ejer
*/

table{
   font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
   font-size: 12px;
    border-collapse: collapse;
    width: 60%;
    
}

th{
    
       border: 1px solid #ddd;
    padding: 8px;
    text-align: left;  
    border-color: lightgrey;
     padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}



td{
    
    text-align: left;  
   border: 1px solid #ddd;
    padding: 8px;
    border-color: lightgrey;
}

tr{

    border-style: solid;
    border-color: lightgrey;
}


tr:hover {
    background-color: #ddd;
}
 tr:nth-child(uneven){background-color: #f2f2f2;}
 
 
 ul {
    list-style-type: none;
}
